   @import '~shared/styles/colors';
 .picture-tab {
     z-index:1;
     grid-row: 2/4;
     background: $light-blue;
     border-radius: 1em;
     border: 2px solid white;
     animation: 2s ease-out 0s 1 slideInFromBottom;
     align-items: center;
     overflow: hidden;
     display: flex;
  justify-content: center;
  align-items: center; 
     img {
         max-width: 100%;
         max-height: 100%;
         border-bottom:2px solid white;
         border-top:2px solid white;
         
     }
 }
 /*
   @keyframes slideInFromBottom {
      0% {
          transform: translateY(500%);
      }
      100% {
          transform: translateY(0);
      }
  }*/

@media all and (max-width: 900px) {
    .picture-tab{
        visibility: hidden;
        width:0;
        height:0;
    }
}