@import '~shared/styles/colors';
.portfolio-tab {
   background:#6a6f77;
    border:2px solid white;
    border-radius: 1em;
    color:white;
    padding:1em;
    grid-column: 4/7;
    grid-row: 1/4;
    h1{
      text-align:center;
    }
    .__pieces{
      a{
            color:$light-blue;
            text-decoration:none;
      }
      .__piece{
        margin:1em 0;
        background:grey;
        border:1px solid darkgrey;
        border-radius:1em;
        padding:1em;
        h4{
          margin:0;
        }
        hr{
        
          text-align: left;
        }
        .description{
          margin:0;
        }
        ul{
          margin:0;
          li{
            margin:0;
          }
        }
      }
    }
}
