.top-content{
    padding-top:16px;
    display:flex;
    margin-left:24px;
    justify-content: space-between;
    .about-heading{
        margin-right:32px;
        margin-left:16px;
        .jumbotron{
             background:#5DBCD2;
             color:white;
             font-weight: bold;
             h3{
                 padding-left:16px;
             }
        }
    }
}


.intro{
    margin-top:16px;
    .explain{
        padding:32px;
    }
}