  @import '~shared/styles/colors';
  .welcome-box {
      background: $dark-gray;
      border: 2px solid white;
      border-radius: 1em;
      color: white;
      padding: 1em;
      grid-column: 1/4;
      display: grid;
      grid-template-columns: 3fr 3fr;
      a {
          color: $light-blue;
          text-decoration: none;
      }
      .__text {
          text-align:center;
          h1 {
              font-size: 4em;
              margin-bottom: 0;
          }
          h3 {}
      }
      .__quote {
          border-left: 1px solid white;
          padding: 1em;
          .__links {
              margin: 1em;
              a {
                  margin: 2px;
                  color:white;
                  transition:.5s;
              }
              a:hover{
                color: $light-blue; 
              }
              
          }
      }
  }
  