.main-header{
    height:100vh;
}
.alternate{
  background:#5DBCD2;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(400%);
  }
  100% {
    transform: translateY(0);
  }
}