@import '~shared/styles/colors';
.contact-tab {
    background: #6a6f77;
    border: 2px solid white;
    border-radius: 1em;
    color: white;
    grid-column: 3/7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    .blog {
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: purple;
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        &:hover {
            background: #5b269b;
            transition: .2s;
        }
    }
    .projects {
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        background: lightgreen;
        &:hover {
            background: green;
            transition: .2s;
        }
    }
    .resume {
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        background: orange;
        border-right: 1px solid white;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        &:hover {
            background: darkgoldenrod;
            transition: .2s;
        }
    }
}